*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.posts-container{
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    width: 650px;
}

.post-container{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 16px;
}

.post-container img{
    width: 100%;
}

.post-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    width: 100%;
    height: 56px;
    background: #ddd;
}

.new-post-button{
    height: 50px;
    padding: 8px 16px 8px 16px;
    border-radius: 25px;
    background: #fff;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #fff;
}

.post-content{
    padding: 16px 4px 16px 4px;
    border-top: 1px solid #ddd;
}

.nav-bar{
    position: fixed;
    background: #bbb;
    width: 100%;
    height: 64px;
    padding: 0;
    padding-right: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 16px
}

.app-title{
    font-size: 38px;
    font-family: arial;
    color: #444;
    width: 100%;
    padding-left: 16px;
}

.nav-bar-icon{
    background: #fff; 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #fff;
}




.logo-button{
     background-image: url("icons/logo.png");
}

.sign-out-icon{
    background-image: url("icons/signout.png");
}

nav a{
    text-decoration: none; 
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: arial;
  text-decoration: none; 
  background-size: contain;
}

.error-message{
    color: #f00;
    font-size: 12px;
}

.modal{
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */  
    
}

.modal-content{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.new-post-dialog-container{
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  margin-top: 32px;
  padding: 20px;
  gap: 8px;
  height: 500px;
}

.close {
  background: #fff;    
  width: 40px;
  height: 40px;
  border: none;
  background-image: url("./icons/close.png");
  background-size: contain;
  opacity: 0.7;

}
.close:hover,
.close:focus {
  opacity: 1.0; 
  cursor: pointer;
}

.new-post-dialog-container textarea{
    resize: none;
    padding: 4px;
}

.file-input-container{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-image: url("./icons/birds.png");
    background-repeat: no-repeat;
    background-size: 52px 52px;
    background-position: center;
    opacity: 0.5;
}

.file-input-container:hover{
    cursor: pointer;
    opacity: 1.0;
    border: 1px solid #aaa;
    
}

.file-input{
    opacity: 0;
    width: 100%;
    height: 100%;
}

.post-button{
    height: 50px;
    border: 1px solid #eee;
    background: #eee;
    border-radius: 8px;
    
}

.post-button:hover{
    background: #ddd;
    cursor:pointer;
}

.dialog-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.dialog-title{
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.auth-dialog-content{
    margin-top: 8px;
}

.auth-input-field{
    border: none;
    outline: none;
    height: 42px;
    border-bottom: 1px solid #666;
    width: 90%;
}

.auth-input-field:focus{
    border-bottom: 1px solid #000; 
}

.link{
    border: none;
    outline:none;
    text-decoration: underline;
    color: blue;
    margin-top: 16px;
}
.link:hover{
    cursor:pointer;
}

.form-submit-button{
    height: 24px;
    width: 120px;
    border: 1px solid #eee;
    background: #eee;
    border-radius: 8px;
}
.form-submit-button:hover{
    border: 1px solid #ccc;
    background: #ccc;
    cursor: pointer;
}

.profile-page-content{
    width: 100%;
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bio{
    width: 150px;
    position: fixed;
    left: calc((100vw - 500px)/2 - 166px);
    border: 1px solid black;
    border-radius: 8px;
    border-color: #aaa;
    padding: 16px;
    height: 350px;
}

.profile-image{
    border: 1px solid black;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background: #ddd;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
    background-size: contain;
    
}

.profile-posts-container{
    width: 500px;
}

.bio-content{
    margin-top: 16px;
   
}
.bio-content ul{
     list-style: none;
}

.clickable{
    opacity: 1.0;
}

.clickable:hover{
    opacity: 0.7;
    cursor: pointer;
}

.dialog-image-container{
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  margin-top: 32px;
  padding: 20px;
  gap: 8px;
  height: 500px;
}

.message-card{
    border: 1px solid black;
    border-radius: 8px;
    border-color: #aaa;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-family: arial;
    color: #444;
}